<html>
	
<script
src="https://code.jquery.com/jquery-3.5.1.min.js"
integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
crossorigin="anonymous">
</script>
	
<script>
	
	function sendMessage(room_id) {
		var msg = document.getElementById("sendtext").value;
		$.post("/api/send_message",
		  {
			room_id : room_id,
			msg:msg
		  },
		function(data, status){
			console.log(status);
			open_room(room_id);
		});
	} 
	
	function send_msg_button(room_id) {
		var onclick = 'sendMessage("' + room_id + '")';
		var str = "<button onclick = '" + onclick + "'>Send Message</button>";
		console.log(str);
		return str;
	}
	
	function open_room(room_id) {
		document.getElementById("sendmessagebutton").innerHTML = send_msg_button(room_id);
		$.post("/api/get_messages",
		  {
			room_id : room_id,
		  },
		function(data, status){
			console.log(status);
			console.log(data);
			var obj = JSON.parse(data);
			var htmlstr = "<table>";
			for(var i = 0; i < obj.length; i++) {
				htmlstr = htmlstr + "<tr>";
				var msg = obj[i];
				htmlstr =htmlstr + "<td>" + msg["from"] + "</td>";
				htmlstr =htmlstr + "<td>" + msg["text"] + "</td>";
				htmlstr = htmlstr + "</tr>";
				
			}
			htmlstr = htmlstr + "</table>";
			console.log(htmlstr);
			document.getElementById("viewmessages").innerHTML = htmlstr;
		});
	}
</script>
<home>
	<button onclick = open_room('{{room_id}}')>Talk to Staff</button>
	<button onclick = open_room('{{lobby_id}}')>Talk to the Class</button>
	
	<div id = "viewmessages">
	
	</div>
	<div id = "sendmessage">
		<input type = "text" id = "sendtext"/>
		<div id = "sendmessagebutton">
		</div>
	</div>
</home>
</html>